################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Silverwork
/JARF/**/bin/*
/JARF/**/obj/**
/JARF/.vs/**/
/JARF/XEF/bin